@import "tailwindcss";

/* styles/globals.css */

* {
  box-sizing: border-box;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

/* Light theme styles */
body {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

/* Dark theme styles */
body.dark {
  background-color: #121212;
  color: white;
}

/* Optional: Add transitions for smooth effect */
button {
  transition: background-color 0.3s ease;
}

/* Other global styles... */
